<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 signin">
      <%= render 'shared/signin' %>
    </div>

    <div class="col-md-6 login">
      <%= render 'shared/login' %>
    </div>


  </div>
  <%= link_to 'Log in', root_url, class: 'btn btn-primary' %>
  <%= link_to 'Sign up', root_url, class: 'btn btn-success' %>
</div>
