// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

div.login {
  display:none
}

a.sign_up {
  display:none
}

.bg-image {
  background-image:url(calendar.png);
}

.move_down {
  transform: translate(0px, 30px);
  height: 40px;
}
