// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

div.login {
  display:none
}

a.sign_up {
  display:none
}

.bg-image {
  background-image:url(calendar.png);
}

.move_down {
  transform: translate(0px, 30px);
  height: 40px;
}

.height-70 {
  height:70vh
}

.height-30 {
  height:30vh
}

.absolute {
  position:absolute
}

.to-left {
  transform:translate(-135px,0px)
}

.w-280 {
  width:280px
}

table, th, td {
  border:1px solid rgba(0, 0, 0, 0.125);
  border-collapse: collapse;
}

td {
  height:8vh
}

tbody {
  text-align:center
}
tr:nth-child(even) {
  background-color: #eee;
}

.link {
  color:#150485;
  text-decoration:none
}

.link:visited{
  color:#150485
}

.link:hover {
  text-decoration:none;
  background-color:transparent
}

.text-center {
  text-align:center
}
